@page
@model AddTextModel

@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>

<div class="text-center justify-content-between">
    @if (ViewData["Success"] != null)
    {
        <div class="alert alert-success">
            <p>
                <strong>Success:</strong> @ViewData["Success"].ToString()</p>
        </div>
    }
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            <p>
                <strong>Error:</strong> @ViewData["Error"].ToString()</p>
        </div>
    }
    <div class="row justify-content-center">
        <form asp-page-handler="AddNew" method="post" class="col-md-9">
            <div class="form-group">
                <label for="search_id_content">Save ID: </label>
                <input class="form-control" onblur="checkForSearchId(this)" type="text" name="id" id="search_id_content" placeholder="Save ID" value="@RandomStringGen.GenId(7)" required>
            </div>
            <div class="form-group">
                <label for="input_content">Content To Save: </label>
                <textarea class="form-control" name="content" id="input_content" cols="50" rows="10" placeholder="Content To Save, (Max 10,000 characters)" title="Content To Save" maxlength="10000" required></textarea>
            </div>
            <button class="btn btn-default btn-primary">Add new text</button>
        </form>
    </div>
</div>